*{
    margin: 0;
    padding: 0;
    
}
body, ul, a, li {
    font-family: arial,sans-serif;
}
.container{
    margin: 0 auto;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #fff;
   
}
li{
    float: left; 
}
li a{
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
img{
    width: 40px;;
    height: 20px;
}
.c{
    position: fixed;
    bottom: 0;
    width: 100%;
}
li#sign-in{
    height:40px;
    width: 100px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    background-color: #4285f4;
    border:1px solid #4285f4;
    border-radius: 5px;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}
#login{
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: -20px;
}
footer ul{
    background-color: lightgrey;
    text-align: center;
}
p{
    text-align: center;
}
div#main{
    margin: 50px;
    padding: 50px;
}
#heading{
    text-align: center;
}
#one{
    color: rgb(52, 0, 173);
}
#two{
    color: rgb(219, 33, 33);
}
#three{
    color:rgb(223, 223, 13);
}
#four{
    color:rgb(13, 223, 58);
}
#five{
    color:rgba(13, 223, 206, 0.767);
}
#search{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
#heading{
    font-size: 50px;
}
input{
    height: 50px;
    width: 700px;
    border:1px solid rgb(180, 171, 171);
    border-radius: 5px;
    font-size: 1.5em;
    
}
input:hover{
    box-shadow:3px 3px 2px 2px rgb(107, 105, 105)
}
#buttons{
 text-align: center;
 margin: 10px;
 padding: 5px;
}
button{
    margin:  2px 15px;
    padding: 5px;
    width: 15em;
    height: 50px;
    font-size: 20px;
    font:700;
    opacity: 0.5;
    background-color: lightgrey;
    border-radius: 5px;
    text-decoration: none;
}
button:hover{
    opacity: 1;
}